.page {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  height: 80px;
  width: 58px;
}
.nav__links {
  margin: 8px 0 0;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0px;
}
.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.header__content {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 635px;
  margin-top: 128px;
}
.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 515px;
  margin-top: 32px;
}
.header__image {
  max-width: 636px;
}
.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__address {
  margin: 0;
  color: #838383;
}
.staff {
  background-image: url("../images/staff_picks_background.jpg");
  background-size: cover;
  padding: 100px 0 140px;
}
.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  margin: 0 0 24px;
  color: #ffffff;
}
.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}
.staff__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 760px;
  list-style-type: none;
  gap: 40px;
  margin: 68px auto 0;
  padding-left: 0;
}
.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  width: 360px;
  height: 420px;
}
.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.card__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 11;
  overflow: hidden;
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}
.card__lermais {
  margin-top: 10px;
  background: none;
  border: none;
  color: #0c5b3dc9;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  padding: 0;
}
.card__footer {
  margin: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal__content {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 6px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}
